h2 {
  position: relative;
    z-index: 1000;
    color: $secondary-color;
    max-width: 95vw;
    margin-left: 45px;
    margin-top: -60px;
    margin-bottom: 20px;
    @include tipo-1(32);  
   
    @include d(c) {
      margin-top: 10px;
    }
    @include d(m) {
      display: none;
  }

    @include d(i) {
      display: none;
  }
}

.dio h2 {
    margin: -20px 20px 20px 45px;
    @include d(l) {
      margin-top: 0px;
    }
    @include d(i) {
      display: none;
  }
}
    


.box-cursos {
    height: 100%;
    width: 100%;
    display: block;
    @include d(l) {
      margin-bottom: 10px;
    }
   
    @include d(m) {
        margin-top: 20px;
      }
    
    @include d(i) {
      
      margin-top: 5rem;
     

  }
   
}